@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.header{
    position: relative;
    display: flex;
    justify-content: flex-start;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.trail-tittle{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #13388a;
}
.trail-subtittle{
    width: 45rem;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.trail-subtittle2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.trails-container{
    display: flex;
    gap: 5rem;
}
.trail{
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4164b3;
    color: #fff;
    gap: 1.5rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px #363636;
    cursor: pointer;
}
.trail:hover{
    background-color: #13388a;
}
.trail i{
    font-size: 4rem;
}
.btn-back-menu{
    font-size: 1rem;
    background-color: #4164B3;
    color: #fff;
    padding: 1rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}
.btn-back-menu:hover{
   background-color: #13388a;
}

/* Trial Container */

.trial-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.trial-img{
    width: 25rem;
}
.humanasSection{
    display: none;
}
.exatasSection{
    display: none;
}
.saudeSection{
    display: none;
}
.humanasSection.show{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.exatasSection.show{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.saudeSection.show{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.trial-container{
    display: flex;
    flex-direction: column;
    width: 30rem;
    align-items: center;
    gap: 1rem;
    background-color: #D5D4D4;
    padding: 2rem;
    color: #00216A;
    border: none;
    border-radius: 1rem;
}
#trial-tittle{
    font-size: 2rem;
    text-align: center;
}
#trial-office{
    font-weight: bold;
}
#trial-situation{
    text-align: justify;
}
#what-would-you-do{
    font-size: 1.2rem;
}
.trail-solution{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.options-you-do{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.options-you-do.hide{
    display: none;
}
.solution{
    background-color: transparent;
    border: none;
    text-align: justify;
    cursor: pointer;
    color: #00216A;
}
.solution:hover{
    text-decoration: underline;
}
.btns-consequences{
    display: none;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}
.see-consequences{
    width: 7rem;
    height: 3rem;
    border: none;
    background-color: #4164B3;
    color: #fff;
    border-radius: .3rem;
    cursor: pointer;
}
.see-consequences:hover{
    background-color: #00216A;
}
.next-trail{
    width: 7rem;
    height: 3rem;
    border: none;
    background-color: #4164B3;
    color: #fff;
    border-radius: .3rem;
    cursor: pointer;
}
.next-trail:hover{
    background-color: #00216A;
}
.restart-container{
    display: none;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.restart-trials-btn{
    font-size: 1rem;
    background-color: #4164B3;
    color: #fff;
    padding: 1rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}
.restart-trials-btn:hover{
    background-color: #00216A;
}

/* Modal Consequences */

.modal-consequence.show{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-consequence{
    display: none;
}
#consequence-container{
    position: relative;
    background-color: #fff;
    width: 40rem;
    height: 45rem;
    padding: 1rem;
    border: 5px solid #4164B3;
    box-shadow: 0 0 0 5px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.modal-consequence-tittle{
    text-align: center;
    font-size: 2rem;
}
.modal-consequence-subtittle{
    text-align: center;
    font-size: 1.5rem;
}
.consequences{
    color: #4164B3;
}
.out-consequences{
    width: 15rem;
    background-color: #4164B3;
    padding: 1.5rem 0;
    border-radius: 1rem;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.out-consequences:hover{
    background-color: #13388a;
}

/* Modal Trail */

.trial-welcome{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trial-welcome.hide{
    display: none;
}
.modal-trial{
    position: relative;
    background-color: #fff;
    width: 40rem;
    height: 30rem;
    padding: 1rem;
    border: 5px solid #4164B3;
    box-shadow: 0 0 0 5px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.modal-trial-tittle{
    text-align: center;
    font-size: 2rem;
}
.modal-trial-subtittle{
    text-align: center;
    font-size: 1.5rem;
}
.modal-trial-subtittle a{
    color: #4164B3;
}
.start-trial{
    width: 15rem;
    background-color: #4164B3;
    padding: 1.5rem 0;
    border-radius: 1rem;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.start-trial:hover{
    background-color: #13388a;
}

@media (max-width: 800px){

    .trail-tittle{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .trail-subtittle{
        width: 20rem;
    }
    .trails-container{
        flex-direction: column;
        gap: 3rem;
    }
    .btn-back-menu{
    margin-bottom: 2rem;
    }
    /* Trial Container */
    
    .trial-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .trial-img{
        width: 12rem;
    }
    .humanasSection{
        display: none;
    }
    .exatasSection{
        display: none;
    }
    .saudeSection{
        display: none;
    }
    .humanasSection.show{
        flex-direction: column;
        gap: 3rem;
    }
    .exatasSection.show{
        flex-direction: column;
        gap: 3rem;
    }
    .saudeSection.show{
        flex-direction: column;
        gap: 3rem;
    }
    .trial-container{
        width: 20rem;
        gap: 1.3rem;
    }
    #what-would-you-do{
        margin-bottom: .7rem;
    }
    .restart-container{
        display: none;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
    }
    .restart-trials-btn{
       margin-bottom: 1.6rem;
    }
    
    /* Modal Consequences */
    
    .modal-consequence.show{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0px;
        left: 0px;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-consequence{
        display: none;
    }
    #consequence-container{
        position: relative;
        background-color: #fff;
        width: 40rem;
        height: 45rem;
        padding: 1rem;
        border: 5px solid #4164B3;
        box-shadow: 0 0 0 5px #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .modal-consequence-tittle{
        text-align: center;
        font-size: 2rem;
    }
    .modal-consequence-subtittle{
        text-align: center;
        font-size: 1.5rem;
    }
    .consequences{
        color: #4164B3;
    }
    .out-consequences{
        width: 15rem;
        background-color: #4164B3;
        padding: 1.5rem 0;
        border-radius: 1rem;
        color: #fff;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }
    .out-consequences:hover{
        background-color: #13388a;
    }
    
    /* Modal Trail */
    
    .trial-welcome{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0px;
        left: 0px;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trial-welcome.hide{
        display: none;
    }
    .modal-trial{
        width: 20rem;
        height: 35rem;
    }
    .modal-trial-tittle{
        font-size: 1.5rem;
    }
    .modal-trial-subtittle{
        font-size: 1.2rem;
    }
    .start-trial{
        width: 15rem;
        background-color: #4164B3;
        padding: 1.5rem 0;
        border-radius: 1rem;
        color: #fff;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }
    .start-trial:hover{
        background-color: #13388a;
    }
}