.header{
    justify-content: flex-start;
}
.test-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    gap: 5rem;
}

.test-tittle{
    font-size: 2.5rem;
    color: #4164B3;
}
#test-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.test-options{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.options{
    width: 13rem;
    height: 13rem;
    font-size: 1rem;
}

/* Modal */

.modal-test-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-test-container.none{
    display: none;
}
.modal-vocational{
    position: relative;
    background-color: #fff;
    width: 40%;
    height: 85%;
    padding: 1rem;
    border: 5px solid #4164B3;
    box-shadow: 0 0 0 5px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.modal-test-tittle{
    text-align: center;
    font-size: 1.7rem;
}
.modal-test-img{
    width: 20rem;
}
.start-test{
    width: 15rem;
    background-color: #4164B3;
    padding: 1.5rem 0;
    border-radius: 1rem;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.start-test:hover{
    background-color: #13388a;
}